.progress_container{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.circle{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.active{
    background-color: green;
}

.default{
    background-color: rgb(154, 155, 154);
}
